<div class="container-fluid">
  <div class="container">
    <h3>Point Table</h3>
    <mat-divider></mat-divider>
    <div class="table-responsive">
      <table class="table table-striped table-hover table-condensed">
        <thead>
        <tr>
          <th>Team</th>
          <td>Point</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let team of pointTable">
          <th>{{team?.team?.name}}</th>
          <td>{{team?.point}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
