<mat-card class="w-100" *ngIf="playerProfile?.status">
  <mat-card-header style="margin-bottom: 20px">
    <div mat-card-avatar >
      <img style="width: 50px; height: 50px; object-fit: fill; border-radius: 50%;" [src]="playerProfile?.data?.imageUri" [alt]="playerProfile?.data?.firstName.split('')[0] | uppercase">
    </div>
    <mat-card-title>{{playerProfile?.data?.firstName | titlecase}} {{playerProfile?.data?.lastName | titlecase}}</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="playerProfile?.data?.imageUri" [alt]="playerProfile?.data?.firstName.split('')[0] | uppercase">
  <mat-card-content>
    <div class="table-responsive">
      <table class="table table-striped table-hover table-condensed">
        <tr>
          <th>Total Run</th>
          <td>{{playerProfile?.data?.history[0]?.run ? playerProfile?.data?.history[0]?.run : 0}}</td>
        </tr>
        <tr>
          <th>Total Matches</th>
          <td>{{playerProfile?.data?.history[0]?.matches ? playerProfile?.data?.history[0]?.matches : 0}}</td>
        </tr>
        <tr>
          <th>Highest Scores</th>
          <td>{{playerProfile?.data?.history[0]?.highest_scores ? playerProfile?.data?.history[0]?.highest_scores : 0}}</td>
        </tr>
        <tr>
          <th>Fifties</th>
          <td>{{playerProfile?.data?.history[0]?.fifties ? playerProfile?.data?.history[0]?.fifties : 0}}</td>
        </tr>
        <tr>
          <th>Hundreds</th>
          <td>{{playerProfile?.data?.history[0]?.hundreds ? playerProfile?.data?.history[0]?.hundreds : 0}}</td>
        </tr>
      </table>
    </div>
  </mat-card-content>
  <!--  <mat-card-actions>-->
  <!--    <button mat-button>LIKE</button>-->
  <!--    <button mat-button>SHARE</button>-->
  <!--  </mat-card-actions>-->
</mat-card>
