<div class="container-fluid" style="height: calc(100vh - 64px)">
  <div class="container">
    <h3>Create Player</h3>
    <mat-divider></mat-divider>
    <div class="row">
      <div class="col-md-6">
        <ngx-select-dropdown (change)="onSelectChange($event.value, 1)" [multiple]="false" [options]="allTeam" [config]="configAssignCarePlan"></ngx-select-dropdown>
      </div>
      <div class="col-md-6">
        <ngx-select-dropdown (change)="onSelectChange($event.value, 2)" [multiple]="false" [options]="allTeam" [config]="configAssignCarePlan"></ngx-select-dropdown>
      </div>
    </div>
    <button mat-raised-button color="primary" type="submit" style="margin-top: 10px" (click)="onClickPlay()">Submit</button>

    <div *ngIf="isGameDone">
      <p>Result</p>
      <table class="table table-striped table-hover table-condensed">
        <thead>
        <tr>
          <th>First Team</th>
          <th>Second Team</th>
          <th>Winner</th>
          <td>First Team Run</td>
          <td>Second Team Run</td>
          <td>Win By</td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{result?.data?.team_1}}</td>
          <td>{{result?.data?.team_2}}</td>
          <td>{{result?.data?.winner}}</td>
          <td>{{result?.data?.team_1_run}}</td>
          <td>{{result?.data?.team_2_run}}</td>
          <td>{{result?.data?.win_by}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
