<mat-accordion style="overflow-x: hidden; overflow-y: auto">
  <mat-expansion-panel *ngFor="let data of teamDetailsAll" [id]="data?.id" style="margin-bottom: 5px" (click)="onClickTeam(data?.id)">
    <mat-expansion-panel-header style="min-height: 60px !important;">
      <mat-panel-title style="max-width: 400px">
        <img [src]="data?.logoUri" [alt]="data?.name" style="height: 50px; max-width: 50px; object-fit: cover; border-radius: 50%">
      </mat-panel-title>
      <mat-panel-description>
        <h4>{{data?.name | uppercase}}</h4>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <mat-list *ngFor="let player of playerDetails">
      <mat-list-item class="list-item" style="margin: 5px;" (click)="onPlayerClick(player?.id); $event.stopPropagation()">
        <div class="row w-100">
          <div class="col-md-4 text-center">
            <img [src]="player?.imageUri" [alt]="player?.firstName" style="height: 50px; max-width: 50px; object-fit: cover; border-radius: 50%">
          </div>
          <div class="col-md-8">
            {{player?.firstName | titlecase}} {{player?.lastName | titlecase}}
          </div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <p *ngIf="playerDetails.length === 0">No player added yet!</p>
  </mat-expansion-panel>
</mat-accordion>
