<div class="container-fluid">
  <div class="container">
    <h3>Create Team</h3>
    <mat-divider></mat-divider>

    <div>
      <form [formGroup]="teamForm" (ngSubmit)="onFormSubmit()">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Team Name</mat-label>
          <input matInput type="text" placeholder="Team Name" formControlName="name">
          <mat-error
            *ngIf="teamForm.get('name').errors?.required || teamForm.get('name').errors?.pattern || teamForm.get('name').dirty || teamForm.get('name').touched">
            Please enter a Team Name
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Club State</mat-label>
          <input matInput type="text" placeholder="Club State" formControlName="club_state">
          <mat-error
            *ngIf="teamForm.get('club_state').errors?.required || teamForm.get('club_state').errors?.pattern || teamForm.get('club_state').dirty || teamForm.get('club_state').touched">
            Please enter Club State
          </mat-error>
        </mat-form-field>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Upload</span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile01" (change)="onFileSelected($event)"
                   aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01" id="inputGroupFileLabel">Choose file</label>
          </div>
        </div>
        <button mat-raised-button color="primary" type="submit" style="margin-top: 10px">Submit</button>
      </form>

    </div>
  </div>
</div>
