<div class="container-fluid" style="height: calc(100vh - 64px)">
  <div class="container">
    <h3>Create Player</h3>
    <mat-divider></mat-divider>
    <div style="margin-top: 20px">
      <form [formGroup]="playerForm" (ngSubmit)="onFormSubmit()">
        <ngx-select-dropdown [(ngModel)]="selectedTeam" [ngModelOptions]="{standalone: true}" (change)="onSelectChange($event.value)" [multiple]="false" [options]="allTeam" [config]="configAssignCarePlan"></ngx-select-dropdown>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>First Name</mat-label>
          <input matInput type="text" placeholder="First Name" formControlName="firstName">
          <mat-error
            *ngIf="playerForm.get('firstName').errors?.required || playerForm.get('firstName').errors?.pattern || playerForm.get('firstName').dirty || playerForm.get('firstName').touched">
            Please enter a Team Name
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Last Name</mat-label>
          <input matInput type="text" placeholder="Last Name" formControlName="lastName">
          <mat-error
            *ngIf="playerForm.get('lastName').errors?.required || playerForm.get('lastName').errors?.pattern || playerForm.get('lastName').dirty || playerForm.get('lastName').touched">
            Please enter a Team Name
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Jersey Number</mat-label>
          <input matInput type="tel" placeholder="Jersey Number" formControlName="player_jersey_number">
          <mat-error
            *ngIf="playerForm.get('player_jersey_number').errors?.required || playerForm.get('player_jersey_number').errors?.pattern || playerForm.get('player_jersey_number').dirty || playerForm.get('player_jersey_number').touched">
            Please enter Jersey Number
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Country Name</mat-label>
          <input matInput type="text" placeholder="Country Name" formControlName="country">
          <mat-error
            *ngIf="playerForm.get('country').errors?.required || playerForm.get('country').errors?.pattern || playerForm.get('country').dirty || playerForm.get('country').touched">
            Please enter a Country Name
          </mat-error>
        </mat-form-field>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Upload</span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile01" (change)="onFileSelected($event)"
                   aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01" id="inputGroupFileLabel">Choose file</label>
          </div>
        </div>
        <button mat-raised-button color="primary" type="submit" style="margin-top: 10px">Submit</button>
      </form>
    </div>
  </div>
</div>
