<mat-toolbar color="primary">Cricket</mat-toolbar>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened style="min-width: 10%;">
    <mat-list>
      <mat-list-item class="list-item" routerLink="/home/dashboard">
        <h4 mat-line>Home</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="list-item" routerLink="/home/create-team">
        <h4 mat-line>Create Team</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="list-item" routerLink="/home/create-player">
        <h4 mat-line>Create Player</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="list-item" routerLink="/home/play">
        <h4 mat-line>Play</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="list-item" routerLink="/home/point-table">
        <h4 mat-line>Point Table</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
